# Either config
LOG=/var/log/foghorn/foghorn.log

DATABASE=/var/foghorn/peers.db

# --- Sender configs
# Change this to your listener's IP
SERVER_IP=127.0.0.1

# If you want to advertise an alternative name for your server, specify it here
#ALTNAME=some-name

# -- Listener configs
# If we should listen on a specific interface IP, specify here
BIND=0.0.0.0

SWEEP=true

ETC_HOSTS_SERVER=true
