# Either config
LOG=/var/log/foghorn/foghorn.log

DATABASE=/var/foghorn/peers.db

# --- Sender configs
# Change this to your listener's IP
SERVER_IP=127.0.0.1


# -- Listener configs
# If we should listen on a specific interface IP, specify here
BIND=0.0.0.0

# TODO - add support for these
SWEEP=false

ETC_HOSTS_SERVER=true
